*{
    box-sizing: border-box;
}


/* THESE ARE THE HTML TAG EDITS */

body{
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}
header{
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
}
h1{
    font-weight: 200;
    margin: 0;
}
span{
    font-weight: 600;
}
p{
    color: hsl(229, 6%, 66%);
}
/*TAG EDITS END HERE*/


/* THESE ARE THE DIV EDITS AND ACCESSED THROUGH TAGS  */

.container{
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    justify-content: center;
    margin: 0 auto;
    max-width: 1230px;
}
.box{
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin: 15px;
    overflow: hidden;
    position: relative;
    padding: 30px;
    width: 290px;
}
.box::after{
    background-color: purple;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.box-blue::after{
    background-color:hsl(212, 86%, 64%)
}
.box-red::after{
    background-color:hsl(0, 78%, 62%)
}
.box-orange::after{
    background-color:hsl(34, 97%, 64%)
}
.box-cyan::after{
    background-color:hsl(180, 62%, 55%)
}
.box-push{
    transform: translateY(50%);
}

.box h2{
    margin: 0 ;
}
.box p{
    font-size: 14px;
    margin: 15px 0 30px;
}
/*DIV EDITS END HERE*/


/*HOVER EFFECTS*/
.box-cyan:hover{
    background-color: hsl(180, 62%, 55%);
    transition: 0.5s ease-in-out;
}
.box-blue:hover{
    background-color:hsl(212, 86%, 64%);
    transition: 0.5s ease-in-out;
}
.box-red:hover{
    background-color:hsl(0, 78%, 62%);
    transition: 0.5s ease-in-out;
}
.box-orange:hover{
    background-color:hsl(34, 97%, 64%);
    transition: 0.5s ease-in-out;
}
/*HOVER ENDS*/


/*THIS IS THE MOBILE EDIT*/

@media (max-width: 775px){
    .box-push{
        transform: translateY(0) ;
    }
}
/*MOBILE EDITS END HERE*/
