*{
    box-sizing: border-box;
}

/* TAG EDITS */

body{
    background-color: hsl(257, 40%, 49%);
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 1.4em;
    font-family: 'Open san', sans-serif;
}
h1{
    font-family:'Poppins', sans-serif; 
}
p{
    opacity: 0.8;
}
img{
    max-width: 100%;
}
button{
    border-radius: 50px;
    background-color: #fff;
    border: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    color: hsl(257, 40%, 49%);
    font-size: 24px;
    padding: 20px 80px;
}
button:hover{
    background-color: hsl(268, 100%, 49%) ;
    color: #fff;
}

/*TAG EDITS END HERE*/

/*EDTIS BY CLASS*/

.container{
    margin: auto;
    max-width: 100%;
    width: 1200px;
}
.flex{
    display: flex;
    margin: 30px 0;
}
.flex>div{
    margin: 30px;
    flex: 1;
}
.flex>div:first-child{
    margin-right: 20px;
}
.flex>div:last-child{
    margin-left:20px;
}

.social-links{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;

}
.social-links a{
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

/*ENDS HERE*/

/*RESPONSIVENESS EDITS*/
@media screen and (max-width:1222px){
    .flex{
       flex-direction: column;
       margin: 50px 0;
    }
    .flex>div:first-child{
        flex: 1;
        margin-right: 0;
    }
    .flex>div:last-child{
        flex: 1;
        margin-left: 0;
        text-align: center;
    }
    .social-links{
        justify-content: center;
        align-items: center;
    }
}
.social-links a:hover{
    background-color: #fff;
    color: hsl(257, 95%, 48%);
}
/*ENDS HERE*/
