@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

/*starter code*/

*{
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
}

/*starter code*/

/* navigation styles*/

.nav{
    display: flex;
    padding: 80px;
    margin-bottom: -70px;
}
.logo{
    margin-right:700px;
    margin-left:25px ;
}
.links{
    text-transform: uppercase;
    font-size: 18px;
}
span{
    margin-right: 25px;
    color:hsl(230, 29%, 20%);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
}
.login{
    color: hsl(230, 11%, 40%);
    margin-left: 40px;
}

/* end navigation styles*/

/*main body code*/
.container{
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}
img{
    width: 700px;
    height: 350px;
}
h1{
    color:hsl(230, 29%, 20%);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin-top: auto;
    margin-bottom: 30px;
    text-transform: uppercase;
}
b{
    color: #fff;
    background-color: hsl(230, 29%, 20%);
    font-family: 'Barlow Condensed', sans-serif;
    padding: 5px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
    align-items: center;
}
p{
    font-family: 'Barlow', sans-serif;
    color: hsl(231, 7%, 65%);
    margin-top: auto;
    font-size: 20px;
}
.spaced{
    letter-spacing: 3px;
}
.button{
    background-color:  hsl(0, 100%, 68%);
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
/* HOOVER EFFECTS*/

span:hover{
    border-bottom:1px solid  hsl(230, 29%, 20%);

}
.login:hover{
    border-bottom: 1px solid hsl(230, 11%, 40%);
}
.button:hover{
    background-color:  hsl(230, 11%, 40%);
}


/*media screen styling*/

@media(max-width:1200px){
    body{
        margin: auto;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
    img{
        margin-bottom: 55px;
    }
 
}